body {
    background-color: silver;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: center;


}

h1 {
    color: hsl(300, 43%, 22%);
}

p {
    color: hsl(303, 10%, 53%)
}

#page {
    width: 900px;
    height: 400px;
    padding: 90px;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

#page2 {
    display: flex;
    justify-content: space-between;
}

#box-text {
    margin: right: 70px;
}

.last-box {
    float: inline-start;
}

.container-star1 {
    color: hsl(300, 43%, 22%);
    justify-content: flex-end;
}

.container-star {
    padding: 8px;
    margin-top: 20px;
    border: 2px solid hsl(300, 24%, 96%);
    background-color: hsl(300, 24%, 96%);
    border-radius: 3px;
    font-weight: bold;

}

#row1 {
    align-self: start;
}


.images {
    border-radius: 50%;

}

.p {
    color: white;
}

.p1 {
    color: hsl(333, 80%, 67%);
}

.box3 {

    display: flex;
    flex-wrap: nowrap;


}

.container-box1,
.container-box2,
.container-box3 {

    width: 100%;
    border: 1px solid hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-size: 10px;
    background-color: hsl(300, 43%, 22%);
    color: white;
    display: flex;
    flex-wrap: wrap;




}

.container-box1 p,
.container-box2 p,
.container-box3 p {
    color: white;
}

.container-box1 .box-p2,
.container-box2 .box-p2,
.container-box3 .box-p2 {
    color: hsl(333, 80%, 67%);
}