body {
    background-color: silver;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

h1 {
    color: hsl(300, 43%, 22%);
}

p {
    color: hsl(303, 10%, 53%)
}

#page {
    width: 900px;
    height: 410px;
    padding: 90px;
    display: flex;
    flex-wrap: wrap;

    background-color: hsl(0, 0%, 100%);


}

#box-text {
    margin-right: 70px;
}

.last-box {
    float: inline-start;
}

.container-star1 {
    color: hsl(300, 43%, 22%);
    justify-content: flex-end;
}

.container-star {
    padding: 5px;
    margin-top: 20px;
    border: 2px solid hsl(300, 24%, 96%);
    background-color: hsl(300, 24%, 96%);
    border-radius: 3px;
    font-weight: bold;

}

.box3 {
    margin: 0;
    display: inherit;
    text-align: left;

}

.last-box,
.last-box1,
.last-box2 {
    border: 1px solid hsl(300, 43%, 22%);
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    font-size: 12px;
    background-color: hsl(300, 43%, 22%);
    color: white;

}

.images {
    border-radius: 50%;

}

.p {
    color: white;
}

.p1 {
    color: hsl(333, 80%, 67%);
}